.itemContainer {
	display:flex;
	justify-content: space-between;
	align-items: center;
	border-radius: .1rem;
	background: #034f84;
	margin-bottom: .2rem;
	border: 2px white solid;
}

.itemContainer span {
	color: white;	
	padding: .4rem;
}

.actionButton {
	background: #f7786b;
	border: none;
	outline: none;
	color: white;
	width: 5rem;
	padding: .3rem 0;
	align-self: stretch;
	border-left: 2px white solid;
}

.actionButton:hover {
	color: white;
	background: #f7986b;
	cursor: pointer;
}

.action-button:hover {
	background: #f7686b;
	color: black;
}

.inputContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #034f84;
	margin-top: 2rem;
	border-radius: .1rem;
}

.inputContainer input {
	padding: .3rem .5rem;
	margin: .4rem;
}

.createButton {
	width: 5rem;
	background-color: #fff;
	padding: .3rem 0;
	text-align: center;
	align-self: stretch;
	border: none;
	outline: none;
}

.createButton:hover {
	background-color: #ddd;
	cursor: pointer;
}


