.header {
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	background: #034f84;
	padding: .3rem;
	margin-bottom: 0.3rem;
	border-radius: .1rem;
	
	border: 2px white solid;
}

.tasksNumContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header span {
	background-color: #f7786b;
	border-radius: .1rem;
	padding: 0 .3rem;
	color: white;
	margin-left: .3rem;
}

.App {
	background-color: #92a8d1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	
	height: 100vh;
}

.items {
	margin-top: 1.5em;	
}

.items_title {
	margin-bottom: .5em;
}

@media(max-width: 500px) {
	.App  {
		padding: 1px;
		display: grid;
		grid-template-columns: 1fr;
	}
}

@media(min-width: 501px) and (max-width: 550px) {
	.App {
		padding: 1px;
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
	}
	
	.mainContainer {
		grid-column-start: 2;
	}
}

@media(min-width: 551px) and (max-width: 1000px) {
	.App {
		padding: 1px;
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
	}
	
	.mainContainer {
		grid-column-start: 2;
	}
}

@media(min-width: 1001px){
	.App {
		display: flex;
		justify-content: center;
		align-items: flex-start;
 		
	}
	
	.mainContainer {
		width: 50%;
		
	}
	
}

.itemContainer {
	display:flex;
	justify-content: space-between;
	align-items: center;
	border-radius: .1rem;
	background: #034f84;
	margin-bottom: .2rem;
	border: 2px white solid;
}

.itemContainer p {
	color: white;	
	padding: .4rem;
}

.actionButton {
	background: #f7786b;
	border: none;
	outline: none;
	color: white;
	width: 5rem;
	padding: .3rem 0;
	align-self: stretch;
	border-left: 2px white solid;
}

.actionButton:hover {
	color: white;
	background: #f7986b;
	cursor: pointer;
}

.action-button:hover {
	background: #f7686b;
	color: black;
}

.inputContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #034f84;
	margin-top: 2rem;
	border-radius: .1rem;
}

.inputContainer input {
	padding: .3rem .5rem;
	margin: .4rem;
}

.createButton {
	width: 5rem;
	background-color: #fff;
	padding: .3rem 0;
	text-align: center;
	align-self: stretch;
	border: none;
	outline: none;
}

.createButton:hover {
	background-color: #ddd;
	cursor: pointer;
}

