*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.navbar {
	display: flex;
    align-items: center;
	justify-content: space-between;
	width: 100%;
}

.navbar-brand-container {
	display: flex;
    align-items: center;
}

.navbar-brand {
	font-size: 1.5rem;
    font-weight: 700;
    color: #000;
	text-decoration: none;
	padding: 1rem;
	background-color: rgb(86, 86, 86);
	color: white;
}

.navbar-list {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 50%;
	height: 100%;
}

.nav-list-item {
	height: 100%;
	width: 100%;
	background-color: #3b6fc7;

	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.navbar-menu-item {
	display: block;
	text-decoration: none;
}

.nav-list-item:hover {
    background-color: rgb(86, 86, 86);
    color: white;
}

.counter {
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	background: #034f84;
	padding: .3rem;
	margin-bottom: 0.3rem;
	border-radius: .1rem;
	
	border: 2px white solid;
}

.tasksNumContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header span {
	background-color: #f7786b;
	border-radius: .1rem;
	padding: 0 .3rem;
	color: white;
	margin-left: .3rem;
}

.App {
	background-color: #92a8d1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	height: 100vh;

	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.mainContainer {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.items {
	margin-top: 1.5em;	
}

.items_title {
	margin-bottom: .5em;
}

.itemContainer {
	display:flex;
	justify-content: space-between;
	align-items: center;
	border-radius: .1rem;
	background: #034f84;
	margin-bottom: .2rem;
	border: 2px white solid;
}

.itemContainer p {
	color: white;	
	padding: .4rem;
}

.actionButton {
	background: #f7786b;
	border: none;
	outline: none;
	color: white;
	width: 5rem;
	padding: .3rem 0;
	align-self: stretch;
	border-left: 2px white solid;
}

.actionButton:hover {
	color: white;
	background: #f7986b;
	cursor: pointer;
}

.action-button:hover {
	background: #f7686b;
	color: black;
}

.inputContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #034f84;
	margin-top: 2rem;
	border-radius: .1rem;
}

.inputContainer input {
	padding: .3rem .5rem;
	margin: .4rem;
}

.createButton {
	width: 5rem;
	background-color: #fff;
	padding: .3rem 0;
	text-align: center;
	align-self: stretch;
	border: none;
	outline: none;
}

.createButton:hover {
	background-color: #ddd;
	cursor: pointer;
}

